@using System.Web.Optimization
@model IEnumerable<SistemaDeChamados.Application.ViewModels.ColaboradorVM>

@{
    ViewBag.Title = "Usuários";
}

<div class="title">
    <h3>Listagem de Usuários</h3><hr />
</div>
<a href="@Url.Action("Novo")" class="btn btn-primary" style="margin-bottom: 10px; margin-top: 10px"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
<table class="table table-condensed">
    <thead>
        <tr>
            <th class="th-buttons"></th>
            <th class="th-email">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="th-buttons">
                @Html.DisplayNameFor(model => model.EstaAtivo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table-actions">
                    @Html.GroupedActionButtons("Usuarios", item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <button class="btn-status btn btn-sm" name="@item.Id">@item.StatusAtual</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Action("Pagination", "Base", new { controller = "Usuarios" })

@Styles.Render("~/bundles/usuarios")
@Scripts.Render("~/bundles/scripts/usuarios")

