@using System.Web.Optimization
@model IEnumerable<SistemaDeChamados.Application.ViewModels.ColaboradorVM>

@{
    ViewBag.Title = "Usuários";
}

<div class="title">
    <h3>Listagem de Usuários</h3><hr />
</div>
<a href="@Url.Action("Novo")" class="btn btn-primary" style="margin-bottom: 10px; margin-top: 10px"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
<table class="table table-condensed table-bordered">
    <tr>
        <th class="th-usuarios-buttons"></th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th class="th-usuarios-buttons">
            @Html.DisplayNameFor(model => model.EstaAtivo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="table-actions">
            <a href="@Url.Action("Edicao","Usuarios", new {id = item.Id})" class="btn btn-primary btn-sm">Editar</a>
            <a href="@Url.Action("Excluir","Usuarios", new {id = item.Id})" class="btn btn-danger btn-sm">Excluir</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <button class="btn-status btn btn-sm" name="@item.Id">@item.StatusAtual</button>
        </td>
    </tr>
    }

</table>

@Styles.Render("~/bundles/usuarios")
@Scripts.Render("~/bundles/scripts/usuarios")
