@model IEnumerable<SistemaDeChamados.Application.ViewModels.UsuarioVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Novo")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstaAtivo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Edicao","Usuarios", new {id = item.Id})" class="btn btn-primary btn-sm">Editar</a>
                <a href="@Url.Action("Excluir","Usuarios", new {id = item.Id})" class="btn btn-danger btn-sm">Excluir</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <button class="btn-status btn btn-sm" name="@item.Id">@item.StatusAtual</button>
                @*<a href="@Url.Action("AlterarStatus", "Usuarios", new {id = item.Id})" class="btn-status btn btn-sm">@item.StatusAtual</a>*@
            </td>
        </tr>
    }

</table>

<script>
    $(function () {
        $('.btn-status').each(function () {
            if (this.innerText === 'Ativo') {
                $(this).removeClass('btn-default').addClass('btn-primary');
            } else {
                $(this).removeClass('btn-primary').addClass('btn-default');
            }
        });

        $('.btn-status').click(function () {
            $.ajax({
                url: 'http://localhost:6084/api/Usuarios/' + this.name,
                type: 'GET',
                success: function (result) {
                    alert('Deu Certo');
                }
            });
        });
    });
</script>
